.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
    position: absolute;
    bottom: 10px;
  }
  
  .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .active {
    background-color: hsl(0, 0%, 20%);
  }